.App {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

form {
  padding: 30px;
  background-color: aqua
}

.checked {
  text-decoration: line-through;
}

#todo_input {
  margin-left: 20px;
}

@media screen and (max-width: 500px ) {
  .App {
    width: 100%;
  }
}